@import "./vars";

.error {
    color: $yellow;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.6rem;
}

.page {
    background: url(../static/images/bg_sm.jpg) center / cover no-repeat;
    height: 100vh;
}