@import "./vars";

.error {
    color: #900;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.page {
    background: url(../static/images/bg_sm.jpg) center / cover no-repeat;
    height: 100vh;

    .inner {
        height: 90vh;
    }
}