@import "./vars";
@import "./mixin//mixin.scss";

.wrapper {
    display: block;
    padding: 2.4rem 0 3.5rem;
    margin-top: 8.1rem;
    backdrop-filter: blur(34px);

    @include _375 {
        margin-top: 2.4rem;
        background-color: rgba($black, 1);
        padding-bottom: 1.8rem;
    }

    .title {
        font-size: 4rem;
        font-weight: 900;
        line-height: 1;
        text-align: center;
        color: $white;

        @include _375 {
            text-align: left;
        }
    }

    .text__wrapper {
        margin-top: 3.2rem;

        .text {
            font-size: 2.4rem;
            line-height: 1.2;
            text-align: center;
            color: $white;

            @include _375 {
                font-size: 1.4rem;
                text-align: left;
            }
        }
    }

    .icons__wrapper {
        margin-top: 3.2rem;

        @include _375 {
            margin-top: 1.7rem;
        }

        .icon__wrapper {
            width: 9rem;
            height: 8.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 2rem;

            @include _375 {
                width: 3.6rem;
                height: 3.7rem;
            }

            &:last-child {
                margin-right: 0;
            }

            .icon {
                // width: 2.2rem;
                // height: 2.2rem;

                @include _375 {
                    height: 1.8rem;
                }
            }
        }
    }

    .bottom {
        margin-top: 8.8rem;
        position: relative;
        
        @include _375 {
            margin-top: 1.8rem;
            display: flex;
            flex-direction: column;
        }

        .bottom__content {
            display: flex;
            align-items: center;
            justify-content: center;
            order: 2;
            margin-top: 1.8rem;

            .link {
                font-size: 2.4rem;
                color: $yellow;

                @include _375 {
                    font-size: 1.4rem;
                }
            }
        }

        .bottom__logo {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            background-image: url("../static/images/Logo_sm.png");
            width: 12rem;
            height: 12rem;

            @include _375 {
                position: relative;
                order: 1;
                transform: translate3d(-50%, 0, 0);
                background-image: url("../static/images/Logo_md.png");
                width: 16.7rem;
                height: 3.6rem;
                right: -50%;
                // transform: translateX(-50%);
            }

            .logo {

                @include _375 {
                    margin: 0 auto;
                }
            }
        }
    }
}