@import "./vars";
@import "./mixin/mixin.scss";

.header {
    backdrop-filter: blur(34px);

    .header__inner {
        width: 100%;
        position: relative;

        &::after {
            content: "";
            width: 48.6rem;
            height: 2px;
            background: $white;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);

            @include _375 {
                width: 34.3rem;
                height: 1px;
            }
        }

        .header__song__on {
            padding: 1.9rem 3rem 4.1rem 2.5rem;
        }

        .header__song__off {
            padding: 1.9rem 3rem 0 2.5rem;
        }

        .header__item {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include _375 {
                padding: 1.5rem .4rem 1.3rem .4rem;
            }

            .header__button {

                @include _375 {
                    display: none;
                }
            }
        }
    }

    .header__content {
        padding: 8.4rem 0 3.1rem;
        position: relative;

        @include _375 {
            padding: 1.4rem 0 2.4rem;
            margin-top: 1px;
            background: $black;
        }
    }

    .content_player {
        padding: 6rem 0 6rem;

        @include _375 {
            padding: 2.4rem 0 5rem;
        }
    }

    .subtitle__wrapper {

        @include _375 {
            margin-top: 3.9rem;
        }
    }
}

.player {
    width: 100%;
    height: 55.8rem;
    display: flex;
    align-items: center;
    position: relative;

    @include _375 {
        height: 100%;
    }

    .close {
        position: absolute;
        top: 0;
        right: 5rem;
    }

    .player__wrapper {
        display: flex;

        @include _375 {
            flex-direction: column;
        }
    }

    .picture {
        display: block;
        width: 310px;
        height: 310px;
        border-radius: 1rem;
        object-fit: cover;

        @include _375 {
            width: 34.3rem;
            height: 34.3rem;
        }

        .logo {
            border-radius: 1rem;

            @include _375 {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .content {
        margin-left: 2rem;
        display: flex;
        flex-direction: column;

        @include _375 {
            margin-left: 0;
            margin-top: 1.8rem;
        }
        
        .title {
            font-size: 4.8rem;
            font-weight: bold;
            line-height: 1.2;
            color: $white;
            text-transform: capitalize;

            @include _375 {
                font-size: 4rem;
            }
            
        }

        .subtitle {
            font-size: 3.2rem;
            font-weight: 400;
            line-height: 1.15;
            color: $white;
            margin-bottom: 2.7rem;

            @include _375 {
                margin-top: .8rem;
                font-size: 1.4rem;
                font-weight: 700;
                margin-bottom: 1.4rem;
            }
        }

        .description__wrapper {
            flex: 1;
            margin-bottom: 2.4rem;

            .text {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.2;
                color: $white;

                @include _375 {
                    font-size: 1.4rem;
                }
            }
        }

        .button__group {
            display: flex;

            @include _375 {
                justify-content: space-between;
            }
        }
    }
}

.player__music__wrapper {
    margin-top: 4.2rem;

    .player__music {
        padding: 2.6rem 3.8rem 2.1rem 2.7rem;
        width: 100%;
        height: 13rem;
        border-radius: 2rem;
        background: $gray-dark;

        @include _375 {
            padding: 0;
            background: transparent;
            height: 5.1rem;
        }

        .player__scale {
            width: 100%;
            display: flex;
            align-items: center;
            height: 5.2rem;
            overflow: hidden;
            position: relative;

            .sound__start {
                display: flex;
                align-items: flex-end;
                height: 100%;
                margin-left: 2.8rem;

                @include _375 {
                    margin-left: 0.8rem;
                }
            }
        }

        .waveform {
            flex: 1 0 auto;
            max-width: 90%;
            margin-left: 3rem;
            position: relative;
            top: 50%;

            @include _375 {
                margin-left: .8rem;
            }
        }

        canvas {
            height: 10.4rem !important;

            @include _375 {
                width: 23.4rem;
            }
        }
    }
}

.play__button {
    display: block;
    width: 8.3rem;
    height: 8.3rem;
    border: 2px solid $white;
    border-radius: 1rem;
    background: url("../static/icon/play-white-big.svg");
    background-size: 4.3rem 4.3rem;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: pointer;

    @include _375 {
        width: 5.1rem;
        height: 5.1rem;
        background-size: 2.6rem 2.6rem;
        border-radius: 2rem;
    }

    &:hover {
        background: url("../static/icon/play-black.svg");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-color: $yellow;
        background-size: 4.3rem 4.3rem;
        border: 2px solid $yellow;
        cursor: pointer;

        @include _375 {
            width: 5.1rem;
            height: 5.1rem;
            background-size: 2.6rem 2.6rem;
            border-radius: 2rem;
        }
    }
}

.pause__button {
    display: block;
    width: 8.3rem;
    height: 8.3rem;
    border: 2px solid $white;
    border-radius: 1rem;
    background: url("../static/icon/pause-white.svg");
    background-repeat: no-repeat;
    background-size: 4.3rem 4.3rem;
    background-position: 48% 50%;
    cursor: pointer;

    @include _375 {
        width: 5.1rem;
        height: 5.1rem;
        background-size: 2.6rem 2.6rem;
        border-radius: 2rem;
    }

    &:hover {
        background: url("../static/icon/pause-black.svg");
        background-repeat: no-repeat;
        background-position: 48% 50%;
        background-color: $yellow;
        background-size: 4.3rem 4.3rem;
        border: 2px solid $yellow;
        cursor: pointer;

        @include _375 {
            width: 5.1rem;
            height: 5.1rem;
            background-size: 2.6rem 2.6rem;
            border-radius: 2rem;
        }
    }
}

.button__share {
    background: url("../static/icon/share-white.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 2.4rem 2.4rem;
    width: 5.1rem;
    height: 5.1rem;

    &:hover {
        background-image: url("../static/icon/share-black.svg");
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
}

.button__close_wrapper {
    width: 5.1rem;
    height: 5.1rem;
    margin-right: 1.9rem;
    text-align: right;
    position: relative;

    @include _375 {
        margin-right: 2rem;
    }
}

.header__mobile {
    display: none;

    @include _375 {
        display: flex;
        align-items: center;
        margin-right: 1.6rem;
    }

    .header__search {
        margin-right: 1rem;
        padding: .9rem;
    }
}